
@{
    ViewBag.Title = "News";
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = "NEWS";
}

<h1 class="title"><span>LATEST NEWS</span></h1>

<section class="panel">
    <header class="collapse-title" data-toggle="collapse"><span>2016.11.21</span> CHAOMIN International Trading website began to serve you~</header>
    <article class="collapse-content">
        @* 編輯器 *@
        CHAOMIN International Trading adhere to provide customers with the best quality, natural, fresh ingredients, effective to meet the needs of various levels of diet.
    </article>
</section>