
@{
    ViewBag.Title = "PRODUCTS SPECIES:BANANA";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "BANANA";
}

@section breadCrumb {
    <li><a href="~/Products/Export_list">EXPORT</a></li>
}

<h1 class="title"><span>@ViewBag.breadCrumb</span></h1>

<section class="row row-x-0 m-b-48">
    <div class="col-6 product-info">
        <h2 class="title-sort">DESCRIPTION</h2>
        <article class="editor m-t-24">
            <p>Because of Taiwan's location across the tropics and subtropics, the climate difference makes Taiwan Banana bearing the totally different flavor compared with bananas cultivated in the tropics. The most obvious characteristic is its full fragrance and QQ taste.</p>
            <ul>
                <li>
                    <strong>Cultivation Regions:</strong>
                    Taiwan
                </li>
                <li>
                    <strong>Production Season:</strong>
                    All year round
                </li>
                <li>
                    <strong>Packing:</strong>
                    N.W : 12kgs/ctn, G.W : 13kgs/ctn.
                </li>
                <li>
                    <strong>Count size:</strong>
                    4's, 5's, 6's.
                </li>
                <li>
                    <strong>20'rf:</strong>550ctns,
                    <strong>40'rf:</strong>1,360ctns
                </li>
            </ul>
        </article>
    </div>
    <div class="col-6 product-pic">
        <img src="~/Content/images/products/pic5.jpg" alt="BANANA">
    </div>
</section>

<footer><a href="javascript:history.back()" class="btn icon-reply">BACK</a></footer>