
@{
    ViewBag.Title = "PRODUCTS SPECIES";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "EXPORT";
}

<h1 class="title"><span>PRODUCTS SPECIES</span></h1>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic1.jpg" alt="Lettuce">
    <a href="~/Products/Export1"></a>
    <figcaption>
        <h3>Lettuce</h3>
        @* 列表簡介前限約70字(中文字) 最後加... more *@
        <p>Taiwan primarily produces two types of head lettuce. The first variety consists of tightly packed leaves...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic2.jpg" alt="Broccoli">
    <a href="~/Products/Export2"></a>
    <figcaption>
        <h3>Broccoli</h3>
        @* <p>青花苔為十字花科蕓凸屬多年生宿根性草本植物，因食用部位主要為緻密花蕾結成之花苔，故稱為青花苔。 原產於西歐沿海...more</p> *@
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic3.jpg" alt="鳳梨圖片">
    <a href="~/Products/Export3"></a>
    <figcaption>
        <h3>Pineapple</h3>
        <p>We mainly export perfume pineapple that retain adequate moisture, fine fiber, high sweetness with a bit sour...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic4.jpg" alt="Mango">
    <a href="~/Products/Export4"></a>
    <figcaption>
        <h3>Mango</h3>
        <p>Irwin Mango (Apple mango) looks in an oblong shape with orange flesh inside and red skin which is not eatable...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic5.jpg" alt="Banana">
    <a href="~/Products/Export5"></a>
    <figcaption>
        <h3>Banana</h3>
        <p>Because of Taiwan's location across the tropics and subtropics, the climate difference makes Taiwan Banana...more</p>
    </figcaption>
</figure>