
@{
    ViewBag.Title = "PRODUCTS SPECIES:鳳梨";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "鳳梨";
}

@section breadCrumb {
    <li><a href="~/Products/Export_list">出口</a></li>
}

<h1 class="title"><span>@ViewBag.breadCrumb</span></h1>

<section class="row row-x-0 m-b-48">
    <div class="col-6 product-info">
        <h2 class="title-sort">DESCRIPTION</h2>
        <article class="editor m-t-24">
            <p>鳳梨性喜高溫，為台灣重要熱帶水果之一。鳳梨外形堅硬多刺，果肉淺黃味道酸甜，纖維多口感富咬勁，需去除外層果皮食其果肉。本公司主要出口日本的品種為香水鳳梨，其特色為具獨特濃郁香味，水分適中、少纖維，甜度高且帶有淡淡酸味, 而. 選果以外形良好無裂痕，果實健康無蟲害，室溫下耐存放，是相當具有特色的鳳梨產品之一。</p>
            <dl>
                <dt>產地</dt>
                <dd>台灣：屏東、台南關廟、高雄大樹、嘉義民雄和南投名間</dd>
            </dl>
            <dl>
                <dt>產季/品種</dt>
                <dd> 4~6月(香水鳳梨) / 6~9月(金鑽鳳梨)</dd>
            </dl>
            <dl>
                <dt>包裝</dt>
                <dd>淨重10公斤/箱， 毛重11公斤/箱</dd>
            </dl>
            <dl>
                <dt>規格</dt>
                <dd>6's, 8's, 10's, 20'(600箱), 40'(1,600箱)</dd>
            </dl>
            <dl>
                <dt>相對溼度</dt>
                <dd>最適宜鳳梨生長的空氣相對濕度在50-75%。一般情況下，在高溫高濕期間（相對濕度≥80%），應加強通風；在高溫乾燥時（相對濕度≤40%）則應多噴水；在冬季低溫時不能噴水。</dd>
            </dl>
            <dl>
                <dt>營養成分</dt>
                <dd>鳳梨果實主要的營養有：醣類、碳水化合物、豐富的膳食纖維、礦物質、維生素C和B1，以及鳳梨酵素。礦物質方面，新鮮的鳳梨的特點是含鉀豐富，含較少的鈉。</dd>
            </dl>
        </article>
    </div>
    <div class="col-6 product-pic">
        <img src="~/Content/images/products/pic3.jpg" alt="鳳梨圖片">
    </div>
</section>

<footer><a href="javascript:history.back()" class="btn icon-reply">回列表</a></footer>