
@{
    ViewBag.Title = "PRODUCTS SPECIES:Broccoli";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "BROCCOLI";
}

@section breadCrumb {
    <li><a href="~/Products/Export_list">EXPORT</a></li>
}

<h1 class="title"><span>@ViewBag.breadCrumb</span></h1>

<section class="row row-x-0 m-b-48">
    <div class="col-6 product-info">
        <h2 class="title-sort">DESCRIPTION</h2>
        <article class="editor m-t-24">
            <p>Broccoli is a cruciferous vegetable in the cabbage family. Broccoli possesses abundant fleshy unbloomed flower heads called "beads". They are green in color, arranged in a tree-like fashion on branches sprouting from a single thick, edible stalk. The large crown of beads atop the stalk is surrounded by leaves on the plant.</p>
            <p>This hearty, tasty vegetable is rich in dozens of nutrients. In fact, it packs the most nutritional punch of any vegetable. Broccoli's noteworthy nutrients include vitamin C, vitamin A (mostly as beta-carotene), folic acid, calcium, and fiber. Broccoli also has many medicinal benefits, including its ability to prevent many types of cancer, improve our digestive system, lower cholesterol, detoxify the body, maximize vitamin and mineral uptake, prevent allergic reactions, boost the immune system, protect the skin, prevent birth defects, and lower blood pressure, just to name a few.</p>
            <ul>
                <li>
                    <strong>Cultivation Regions:</strong>
                    Taiwan
                </li>
                <li>
                    <strong>Production Season:</strong>
                    Aug.-March.
                </li>
                <li>
                    <strong>Packing:</strong>
                    N.W:8-10kgs/ctn
                </li>
            </ul>
        </article>
    </div>
    <div class="col-6 product-pic">
        <img src="~/Content/images/products/pic2.jpg" alt="Broccoli">
    </div>
</section>

@* <section class="editor m-b-48 table-rwd">
    <h5>目前台灣栽培品種大致有綠冠、綠王、秋津、翠光、阪田絲十八等品種。</h5>
    <table class="full">
        <tr>
            <th>NO. 1</th>
            <td>綠冠</td>
            <td>莖粗短，蕾粒中細，花球濃綠，適於八～二月播種，栽植至採收約五十五～六十天，品質優良，適合鮮貨供應及冷陳加工。</td>
        </tr>
        <tr>
            <th>NO. 2</th>
            <td>綠王</td>
            <td>植株生長旺盛，莖粗大，側芽少，花蕾細緻，質優良，適於七～三月播種，栽植至採收約五十八～六十五天，亦適合於高海拔夏季栽培。</td>
        </tr>
        <tr>
            <th>NO. 3</th>
            <td>秋津</td>
            <td>花聚細小緊密，側芽中等，適於九～二月播種，栽植後六十～六十五天可採收，對環境適應性強。</td>
        </tr>
        <tr>
            <th>NO. 4</th>
            <td>翠光</td>
            <td>花球深綠色，蕾粒細小緊密，適於八～二月種植，栽植至採收約五十天，適合鮮貨供應及加工用途。</td>
        </tr>
        <tr>
            <th>NO. 5</th>
            <td>阪田絲</td>
            <td>莖部不易空心，但花蕾遇高溫容易黃化，影響品質，定植後五十五～六十天可採收，適合鮮貨供應用及冷凍加工。</td>
        </tr>
    </table>
</section> *@

<footer><a href="javascript:history.back()" class="btn icon-reply">BACK</a></footer>