
@{
    ViewBag.Title = "PRODUCTS SPECIES";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "出口";
}

<h1 class="title"><span>出口產品種類</span></h1>

<figure class="fullPic-list">
    <img src="~/Content/images/product-list.jpg" alt="圖片">
    <a href="~/Products/content"></a>
    <figcaption>
        <h3>美生菜</h3>
        @* 列表簡介前限約70字(中文字) 最後加... more *@
        <p>營養成分： 蛋白質、脂質、醣質、纖維、灰質、鈣、磷、鐵、維他命A、B1、B2、C、菸鹼酸、熱量及微量元素如鎂、鉀、矽及硫等... more</p>
    </figcaption>
</figure>

