
@{
    ViewBag.Title = "PRODUCTS SPECIES:香蕉";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "香蕉";
}

@section breadCrumb {
    <li><a href="~/Products/Export_list">出口</a></li>
}

<h1 class="title"><span>@ViewBag.breadCrumb</span></h1>

<section class="row row-x-0 m-b-48">
    <div class="col-6 product-info">
        <h2 class="title-sort">DESCRIPTION</h2>
        <article class="editor m-t-24">
            <p>由於台灣橫跨熱帶及亞熱帶氣候有較大的溫差效果，因此擁有跟熱帶地區種出來的香蕉完全不同的風味，其中最大的特色莫過於濃郁的香氣跟富有彈性的口感，食用時會有飽足感，可當主食食用，是很好的營養來源。選購時以外形良好，果皮顏色金黃，尾端帶點綠色，待後熟2~3天後食用最佳。</p>
            <dl>
                <dt>產地</dt>
                <dd>台灣</dd>
            </dl>
            <dl>
                <dt>產季</dt>
                <dd>全年</dd>
            </dl>
            <dl>
                <dt>包裝</dt>
                <dd>淨重12公斤/箱， 毛重13公斤/箱</dd>
            </dl>
            <dl>
                <dt>規格</dt>
                <dd>4's , 5's , 6's, 20'(550箱), 40'(1,360箱)</dd>
            </dl>
        </article>
    </div>
    <div class="col-6 product-pic">
        <img src="~/Content/images/products/pic5.jpg" alt="香蕉圖片">
    </div>
</section>

<footer><a href="javascript:history.back()" class="btn icon-reply">回列表</a></footer>