
@{
    ViewBag.Title = "出口產品種類";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "出口";
}

<h1 class="title"><span>@ViewBag.Title</span></h1>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic1.jpg" alt="美生菜圖片">
    <a href="~/Products/Export1"></a>
    <figcaption>
        <h3>美生菜</h3>
        @* 列表簡介前限約70字(中文字) 最後加... more *@
        <p>營養成分： 蛋白質、脂質、醣質、纖維、灰質、鈣、磷、鐵、維他命A、B1、B2、C、菸鹼酸、熱量及微量元素如鎂、鉀、矽及硫等...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic2.jpg" alt="青花菜(綠花椰菜)圖片">
    <a href="~/Products/Export2"></a>
    <figcaption>
        <h3>青花菜(綠花椰菜)</h3>
        <p>青花苔為十字花科蕓凸屬多年生宿根性草本植物，因食用部位主要為緻密花蕾結成之花苔，故稱為青花苔。 原產於西歐沿海...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic3.jpg" alt="鳳梨圖片">
    <a href="~/Products/Export3"></a>
    <figcaption>
        <h3>鳳梨</h3>
        <p>鳳梨性喜高溫，為台灣重要熱帶水果之一。鳳梨外形堅硬多刺，果肉淺黃味道酸甜，纖維多口感富咬勁，需去除外層果皮食其果肉...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic4.jpg" alt="芒果圖片">
    <a href="~/Products/Export4"></a>
    <figcaption>
        <h3>芒果</h3>
        <p>愛文芒果果形為圓形偏橢圓形，表皮顏色為紅色帶點微綠，果肉顏色為鮮豔橘黃色，果皮不可食用。台灣愛文芒果的味道濃郁...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic5.jpg" alt="香蕉圖片">
    <a href="~/Products/Export5"></a>
    <figcaption>
        <h3>香蕉</h3>
        <p>由於台灣橫跨熱帶及亞熱帶氣候有較大的溫差效果，因此擁有跟熱帶地區種出來的香蕉完全不同的風味，其中最大的特色莫過於濃郁的香氣...more</p>
    </figcaption>
</figure>