
@{
    ViewBag.Title = "PRODUCTS SPECIES:芒果";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "芒果";
}

@section breadCrumb {
    <li><a href="~/Products/Export_list">出口</a></li>
}

<h1 class="title"><span>@ViewBag.breadCrumb</span></h1>

<section class="row row-x-0 m-b-48">
    <div class="col-6 product-info">
        <h2 class="title-sort">DESCRIPTION</h2>
        <article class="editor m-t-24">
            <p>愛文芒果果形為圓形偏橢圓形，表皮顏色為紅色帶點微綠，果肉顏色為鮮豔橘黃色，果皮不可食用。台灣愛文芒果的味道濃郁，擁有強烈的果香味且富含水分，甜度足夠，約12度上下。芒果有後熟作用，未完全成熟的芒果置於室溫下數天即可完熟食用。</p>
            <ul>
                <li>
                    <strong>產地：</strong>
                    台灣
                </li>
                <li>
                    <strong>產季/品種：</strong>
                    5~7月/愛文芒果，5~8月/金煌芒果，8~9月/凱特芒果。
                </li>
                <li>
                    <strong>包裝：</strong>
                    淨重5公斤/箱， 毛重6公斤/箱
                </li>
                <li>
                    <strong>規格：</strong>
                     8's, 10's, 12's, 14's, 16's, 18's, 20'(1,000箱), 40'(2,000箱)
                </li>
            </ul>
        </article>
    </div>
    <div class="col-6 product-pic">
        <img src="~/Content/images/products/pic4.jpg" alt="芒果圖片">
    </div>
</section>

<footer><a href="javascript:history.back()" class="btn icon-reply">回列表</a></footer>