
@{
    ViewBag.Title = "PRODUCTS SPECIES:青花菜(綠花椰菜)";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "青花菜(綠花椰菜)";
}

@section breadCrumb {
    <li><a href="~/Products/Export_list">出口</a></li>
}

<h1 class="title"><span>@ViewBag.breadCrumb</span></h1>

<section class="row row-x-0 m-b-48">
    <div class="col-6 product-info">
        <h2 class="title-sort">DESCRIPTION</h2>
        <article class="editor m-t-24">
            <p>青花苔為十字花科蕓凸屬多年生宿根性草本植物，因食用部位主要為緻密花蕾結成之花苔，故稱為青花苔。 原產於西歐沿海一帶，為一種野生甘藍變種而來，栽培歷史比花椰菜早，目前以義大利栽培最多。在第二次世界大戰末期由美國傳入台灣栽培。</p>
            <dl>
                <dt>產期及產地</dt>
                <dd>青花菜在台灣全年都有生產，但以十一至四月為盛產期，其他月份為淡產期。產地集中於嘉義、彰化、雲林等。</dd>
            </dl>
            <dl>
                <dt>選購要領</dt>
                <dd>選購時以莖粗、短、不空心，花球綠色、花蕾緊密不鬆散，不變黃者為佳。</dd>
            </dl>
            <dl>
                <dt>營養價值</dt>
                <dd>青花菜含豐富維他命及礦物質，含有維生素A、胡蘿蔔素，對視力不佳及皮膚乾燥頗有功效。青花菜適合炒食、燙食、燙熟後涼拌沙拉也很可口，另莖部去皮後可鹽漬成泡菜或醃製成菜心。</dd>
            </dl>
        </article>
    </div>
    <div class="col-6 product-pic">
        <img src="~/Content/images/products/pic2.jpg" alt="青花菜(綠花椰菜)圖片">
    </div>
</section>

<section class="editor m-b-48 table-rwd">
    <h5>目前台灣栽培品種大致有綠冠、綠王、秋津、翠光、阪田絲十八等品種。</h5>
    <table class="full">
        <tr>
            <th>NO. 1</th>
            <td>綠冠</td>
            <td>莖粗短，蕾粒中細，花球濃綠，適於八～二月播種，栽植至採收約五十五～六十天，品質優良，適合鮮貨供應及冷陳加工。</td>
        </tr>
        <tr>
            <th>NO. 2</th>
            <td>綠王</td>
            <td>植株生長旺盛，莖粗大，側芽少，花蕾細緻，質優良，適於七～三月播種，栽植至採收約五十八～六十五天，亦適合於高海拔夏季栽培。</td>
        </tr>
        <tr>
            <th>NO. 3</th>
            <td>秋津</td>
            <td>花聚細小緊密，側芽中等，適於九～二月播種，栽植後六十～六十五天可採收，對環境適應性強。</td>
        </tr>
        <tr>
            <th>NO. 4</th>
            <td>翠光</td>
            <td>花球深綠色，蕾粒細小緊密，適於八～二月種植，栽植至採收約五十天，適合鮮貨供應及加工用途。</td>
        </tr>
        <tr>
            <th>NO. 5</th>
            <td>阪田絲</td>
            <td>莖部不易空心，但花蕾遇高溫容易黃化，影響品質，定植後五十五～六十天可採收，適合鮮貨供應用及冷凍加工。</td>
        </tr>
    </table>
</section>

<footer><a href="javascript:history.back()" class="btn icon-reply">回列表</a></footer>