
@{
    ViewBag.Title = "PRODUCTS SPECIES:PINEAPPLE";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "PINEAPPLE";
}

@section breadCrumb {
    <li><a href="~/Products/Export_list">EXPORT</a></li>
}

<h1 class="title"><span>@ViewBag.breadCrumb</span></h1>

<section class="row row-x-0 m-b-48">
    <div class="col-6 product-info">
        <h2 class="title-sort">DESCRIPTION</h2>
        <article class="editor m-t-24">
            <p>We mainly export perfume pineapple that retain adequate moisture, fine fiber, high sweetness with a bit sour and especially with full fragrance.</p>
            <ul>
                <li>
                    <strong>Cultivation Regions:</strong>
                    Taiwan
                </li>
                <li>
                    <strong>Production Season:</strong><br>
                    Apr.-Jun./ Perfume Pineapple,<br>
                    Jun.-Sep./ Golden Pineapple
                </li>
                <li>
                    <strong>Packing:</strong>
                    N.W:10kgs/ctn, G.W : 11kgs/ctn.
                </li>
                <li>
                    <strong>Count size:</strong>
                    6's, 8's, 10's
                </li>
                <li>
                    <strong>20'rf:</strong>600ctns,
                    <strong>40'rf:</strong>1,600ctns
                </li>
            </ul>
        </article>
    </div>
    <div class="col-6 product-pic">
        <img src="~/Content/images/products/pic3.jpg" alt="PINEAPPLE">
    </div>
</section>

<footer><a href="javascript:history.back()" class="btn icon-reply">BACK</a></footer>