

@{
    ViewBag.Title = "PRODUCTS SPECIES:Lettuce";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "LETTUCE";
}

@section breadCrumb {
    <li><a href="~/Products/Export_list">EXPORT</a></li>
}

<h1 class="title"><span>@ViewBag.breadCrumb</span></h1>

<section class="row row-x-0 m-b-48">
    <div class="col-6 product-info">
        <h2 class="title-sort">DESCRIPTION</h2>
        <article class="editor m-t-24">
            <p>Taiwan primarily produces two types of head lettuce. The first variety consists of tightly packed leaves, commonly known as crisp heads, or iceberg lettuce. The other variety is known as butter heads, and is distinguished by its smaller, softer, and thinner leaves.</p>
            <ul>
                <li>
                    <strong>Cultivation Regions:</strong>
                    Taiwan
                </li>
                <li>
                    <strong>Production Season:</strong>
                    Nov. - Apr.
                </li>
                <li>
                    <strong>Packing:</strong>
                    N.W:15kgs/ctn, G.W:16kgs/ctn.
                </li>
                <li>
                    <strong>Count size:</strong>
                    24's, 30's
                </li>
                <li>
                    <strong>40'rf:</strong>
                    800ctns
                </li>
            </ul>
        </article>
    </div>
    <div class="col-6 product-pic">
        <img src="~/Content/images/products/pic1.jpg" alt="Lettuce">
    </div>
</section>

<footer><a href="javascript:history.back()" class="btn icon-reply">BACK</a></footer>

