
@{
    ViewBag.Title = "PRODUCTS SPECIES";
    ViewBag.BodyClass = "Import";
    ViewBag.breadCrumb = "IMPORT";
}

<h1 class="title"><span>PRODUCTS SPECIES</span></h1>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i1.jpg" alt="Chinese Cabbage">
    <a href="~/Products/Import1"></a>
    <figcaption>
        <h3>Chinese Cabbage</h3>
        @* 列表簡介前限約70字(中文字) 最後加... more *@
        @* <p>營養成分： 蛋白質、脂質、醣質、纖維、灰質、鈣、磷、鐵、維他命A、B1、B2、C、菸鹼酸、熱量及微量元素如鎂、鉀、矽及硫等...more</p> *@
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i2.jpg" alt="蘆筍">
    <a href="~/Products/Import2"></a>
    <figcaption>
        <h3>Asparagus</h3>
        <p>Asparagus is long, slender vegetables that grow as shoots. The straight, firm stalks, which range from pencil thin to as thick as your thumb...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i3.jpg" alt="玉米筍">
    <a href="~/Products/Import3"></a>
    <figcaption>
        <h3>Baby Corn</h3>
        <p>Baby corn (Zea mays) is a popular Asian vegetable that can be consumed cooked or raw due to its sweet...more</p>
    </figcaption>
</figure>