
@{
    ViewBag.Title = "PRODUCTS SPECIES:White Radish";
    ViewBag.BodyClass = "Import";
    ViewBag.breadCrumb = "White Radish";
}

@section breadCrumb {
    <li><a href="~/Products/Import_list">IMPORT</a></li>
}

<h1 class="title"><span>@ViewBag.breadCrumb</span></h1>

<section class="row row-x-0 m-b-48">
    <div class="col-6 product-info">
        <h2 class="title-sort">DESCRIPTION</h2>
        <article class="editor m-t-24">
            <ul>
                <li>Item：White Radish</li>
                <li>Packing detail：Net weight 20kg/ctn</li>
                <li>Loading：1200~1330 ctns/RF Container(40' RF)</li>
            </ul>
        </article>
    </div>
    <div class="col-6 product-pic">
        <img src="~/Content/images/products/pic-i5.jpg" alt="White Radish">
    </div>
</section>

<footer><a href="javascript:history.back()" class="btn icon-reply">BACK</a></footer>