
@{
    ViewBag.Title = "PRODUCTS SPECIES";
    ViewBag.BodyClass = "Import";
    ViewBag.breadCrumb = "IMPORT";
}

<h1 class="title"><span>PRODUCTS SPECIES</span></h1>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i1.jpg" alt="Chinese Cabbage">
    <a href="~/Products/Import1"></a>
    <figcaption>
        <h3>Chinese Cabbage</h3>
        @* 列表簡介前限約70字(中文字) 最後加... more *@
        <p>Packing detail:5~8pcs/bag, Net weight 15kg/ctn...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i2.jpg" alt="Asparagus">
    <a href="~/Products/Import2"></a>
    <figcaption>
        <h3>Asparagus</h3>
        <p>Asparagus is long, slender vegetables that grow as shoots. The straight, firm stalks, which range from pencil thin to as thick as your thumb...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i3.jpg" alt="Baby Corn">
    <a href="~/Products/Import3"></a>
    <figcaption>
        <h3>Baby Corn</h3>
        <p>Baby corn (Zea mays) is a popular Asian vegetable that can be consumed cooked or raw due to its sweet...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i4.jpg" alt="Perilla frutescens">
    <a href="~/Products/Import4"></a>
    <figcaption>
        <h3>Perilla frutescens</h3>
        <p>Perilla leaves are often translated from Korean as “sesame leaves,” which is technically a correct translation although...more</p>
    </figcaption>
</figure>