
@{
    ViewBag.Title = "進口產品種類";
    ViewBag.BodyClass = "Import";
    ViewBag.breadCrumb = "進口";
}

<h1 class="title"><span>@ViewBag.Title</span></h1>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i1.jpg" alt="大白菜圖片">
    <a href="~/Products/Import1"></a>
    <figcaption>
        <h3>進口大白菜</h3>
        @* 列表簡介前限約70字(中文字) 最後加... more *@
        <p>大白菜含有豐富的維生素A、C、鈣、鎂等，多吃白菜對女性會有很好的護膚及養顏效果...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i2.jpg" alt="蘆筍圖片">
    <a href="~/Products/Import2"></a>
    <figcaption>
        <h3>進口蘆筍</h3>
        <p>蘆筍原產於溫帶地區，性喜冷涼氣候，為雌雄異株的宿根性植物，但田間偶可發現雌雄同花的兩性株。食用的嫩莖由鱗芽發育長大而成...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i3.jpg" alt="玉米筍圖片">
    <a href="~/Products/Import3"></a>
    <figcaption>
        <h3>進口玉米筍</h3>
        <p>儘管同為玉米家族的一員，玉米筍的營養價值和玉米大不同。玉米的醣類含量高，在營養學上屬於澱粉類，而玉米筍所含醣類...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i4.jpg" alt="韓國芝麻葉圖片">
    <a href="~/Products/Import4"></a>
    <figcaption>
        <h3>韓國芝麻葉</h3>
        <p>韓國芝麻葉具有舒緩腸胃不適、促進腸胃蠕動、止咳祛痰等功用...more</p>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i5.jpg" alt="白蘿蔔">
    <a href="~/Products/Import5"></a>
    <figcaption>
        <h3>白蘿蔔</h3>
        <p>每箱：20KG/箱...more</p>
    </figcaption>
</figure>