
@{
    ViewBag.Title = "PRODUCTS SPECIES";
    ViewBag.BodyClass = "Import";
    ViewBag.breadCrumb = "進口";
}

<h1 class="title"><span>進口產品種類</span></h1>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i1.jpg" alt="大白菜圖片">
    <a href="~/Products/Import1"></a>
    <figcaption>
        <h3>進口大白菜</h3>
        @* 列表簡介前限約70字(中文字) 最後加... more *@
        @* <p>營養成分： 蛋白質、脂質、醣質、纖維、灰質、鈣、磷、鐵、維他命A、B1、B2、C、菸鹼酸、熱量及微量元素如鎂、鉀、矽及硫等...more</p> *@
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i2.jpg" alt="蘆筍圖片">
    <a href="~/Products/Import2"></a>
    <figcaption>
        <h3>進口蘆筍</h3>
    </figcaption>
</figure>

<figure class="fullPic-list">
    <img src="~/Content/images/Products/pic-i3.jpg" alt="玉米筍圖片">
    <a href="~/Products/Import3"></a>
    <figcaption>
        <h3>進口玉米筍</h3>
    </figcaption>
</figure>