
@{
    ViewBag.Title = "PRODUCTS SPECIES";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "出口";
}

<h1 class="title"><span>產品種類</span></h1>

<figure class="fullPic-list">
    <img src="~/Content/images/product-list.jpg" alt="圖片">
    <a href="~/Products/content"></a>
    <figcaption>
        <h3>台灣高麗菜</h3>
        @* 約70字(中文字) 最後加...more *@
        <p>高麗菜是溫帶蔬菜，性喜冷涼的氣候，所以栽植時期除夏季外，都能種植，但品質以冬季生產的較香脆。栽柘以日照充足，排水良好的環境最佳，目前台灣夏季...more</p>
    </figcaption>
</figure>