
@{
    ViewBag.Title = "PRODUCTS SPECIES";
    ViewBag.BodyClass = "Export";
    ViewBag.breadCrumb = "出口";
}

<h1 class="title font-sp"><span>PRODUCTS SPECIES</span></h1>

<figure class="fullPic-list">
    <img src="~/Content/images/product-list.jpg" alt="圖片">
    <a href="~/Products/Export_content"></a>
    <figcaption>
        <h4 class="font-sp">台灣高麗菜</h4>
        <p>
            <em>產地:</em>台灣<br>
            <em>尺寸:</em>15公所<br>
            <em>產季:</em>3 - 5 月
        </p>
        <a href="~/Products/Export_content">MORE</a>
    </figcaption>
</figure>