@charset "UTF-8";


/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
%center {
    max-width: $max-width;
    margin: 0 $gutter*3;
    @include mq(wider) { margin: 0 auto; }

    @if $enable-RWD {
        @include mq-max(tablet) { margin: 0; }
    }
    @else {
        @include mq-max(break(wider,-1)) {
            margin: 0;
            padding-left: $gutter*2;
            padding-right: $gutter*2;
        }
    }
}
// 容器
%contain {
    @extend %clearfix;

    @if $enable-RWD {
        @include mq-max(tablet) {
            padding-left: $gutter;
            padding-right: $gutter;
        }
    } @else {
        min-width: $min-width;
    }
}

.wrap {
    @extend %center, %contain;
}

#header, #footer, #main {
    @extend %contain;
    position: relative;
}

#wrapper {
    @if $wrapper-bg     { background: $wrapper-bg; }
    @if not $enable-RWD { min-width: $min-width; }
    @if $lte7 { _height: 100%; }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距
}

// header
// ----------------------------------------------------------------------
#header {
    @if $header-bg     { background: $header-bg; }
    @if $header-height { height: $header-height; }
    z-index: z(header);

    // 本次專案
    border-bottom: 3px solid #F0EFE9;

    .wrap {
        position: relative;
        background: url(#{$img-path}/headerBg.gif) 28% -172px no-repeat;
        height: 100%;
    }
}

.logo {
    cursor: pointer; cursor: hand; // for ie
    z-index: z(logo);

    @if $logo-img {
        @include text-pic($logo-img, nth($logo-size,1), nth($logo-size,2), $position:center);
    }

    // 本次專案
    @extend %float-l;
    margin-top: 34px;
    // position: relative;
    // top: 35px;
}


// footer 頁腳
// ----------------------------------------------------------------------
#footer {
    @if $footer-bg { background: $footer-bg; }
    @if $footer-color { color: $footer-color; }
    min-height: $footer-height;
    margin-top: -($footer-height);
    z-index: z(footer);

    // 本次專案
    @extend .p-t-32;
    border-top: 3px solid #BBDB83;

    @include el(before) {
        @include absolute(top -41px left 25%);
        width: 204px;
        height: 41px;
        background: url(#{$img-path}/footerBg2.png) 0 0 no-repeat;
    }

    a {
        color: $footer-color;
        &:hover, &:active { color: #BBDB83; }
    }
}

.copyright {
    @extend %float-r, .m-t-48;
    font-size: em(11);

    a {
        @extend %block, .m-b-4;
        @include text-pic('logoA_s.gif', 112px, 49px);
    }
}

// 貿易logo
.logo-s {
    @extend %block;
    @include text-pic('logo_s.gif', 374px, 36px);
}

.foot-contact {
    @extend .text-left;

    address, em { font-style: normal; }
    address {
        font-size: em(13);
    }
    h6 {
        @extend .m-y-12;
        color: $footer-color;
        letter-spacing: 1px;
    }
    p + p { @extend .m-t-4; }
    em {
        @extend %inline-block;
        width: 60px;
        letter-spacing: 1px;
    }
}

.foot-nav {
    @extend .text-left;
    header {
        @extend .font-xxl, .m-b-16;
        color: #BBDB83;
        letter-spacing: 4px;
        line-height: 1;
    }
    a {
        @extend %block;
        letter-spacing: 2px;

        &:not(:last-child) {
            @extend .m-b-8;
        }
    }
}
