@charset "UTF-8";


/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
%container {
    max-width: $max-width;

    @if $enable-RWD {
        margin: 0 $gutter*3;
        @include mq(wider) { margin: 0 auto; }
        @include mq-max(break(desktop,-1)) { margin: 0; }
    }
    @else {
        margin: 0 auto;
        @include mq-max(break(wider,-1)) {
            padding-left: $gutter*2;
            padding-right: $gutter*2;
        }
    }
}
// 容器
%container-fluid {
    @extend %clearfix;

    @if $enable-RWD {
        @include mq-max(break(desktop,-1)) {
            padding-left: $gutter;
            padding-right: $gutter;
        }
    } @else {
        min-width: $min-width;
    }
}

.wrap {
    @extend %container, %container-fluid;
}

#footer, #main {
    @extend %container-fluid;
    position: relative;
}

#wrapper {
    @if $wrapper-bg     { background: $wrapper-bg; }
    @if not $enable-RWD { min-width: $min-width; }
    @if $lte7 { _height: 100%; }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距
}

// header
// ----------------------------------------------------------------------
#header {
    @if $header-bg     { background: $header-bg; }
    @if $header-height { height: $header-height; }
    z-index: z(header);

    // 本次專案
    position: relative;
    border-bottom: 3px solid #F0EFE9;

    @include mq-max(phone) {
        height: 85px;
    }

    .wrap {
        position: relative;
        background: url(#{$img-path}/headerBg.gif) 28% -172px no-repeat;
        height: 100%;

        @include mq-max(break(wide,-1)) {
            background-position: 38% -172px;
        }
        @include mq-max(break(desktop,-1)) {
            background-position: 63% -172px;
        }
        @include mq(phone-plus,break(tablet,-1)) {
            background-position: 82% -172px;
        }
        @include mq-max(break(phone-plus,-1)) {
            background-position: 230px -90px;
        }
        @include mq-max(phone) {
            background-image: none;
        }
    }
}

.logo {
    cursor: pointer; cursor: hand; // for ie
    z-index: z(logo);

    @if $logo-img {
        @include text-pic($logo-img, nth($logo-size,1), nth($logo-size,2));
    }

    // 本次專案
    @extend %float-l;
    margin-top: 34px;

    [lang="en"] & {
        background-image: url(#{$img-path}/logo_en.gif);
        height: 77px;
        margin-top: 29px;
    }

    @include mq-max(break(desktop,-1)) {
        margin-top: 28px !important;
    }
    @include mq-max(phone) {
        margin-top: 4px !important;
    }
    @include mq-max(mobile) {
        background-size: contain;
        width: 210px;
        height: 68px !important;
        margin-top: 10px !important;
    }
}


// footer 頁腳
// ----------------------------------------------------------------------
#footer {
    @if $footer-bg { background: $footer-bg; }
    @if $footer-color { color: $footer-color; }
    min-height: $footer-height;
    margin-top: -($footer-height);
    z-index: z(footer);

    // 本次專案
    @extend .p-y-32;
    border-top: 3px solid #BBDB83;

    @include mq-max(break(desktop,-1)) {
        background-position: 80% -25px;
    }
    @include mq-max(tablet) {
        background-position: 90% -40px;
    }
    @include mq-max(break(phone-plus,-1)) {
        background-image: none;
    }

    .wrap { position: relative; }

    // 甘藍菜
    @include el(before) {
        @include absolute(top -41px left 25%);
        background: url(#{$img-path}/footerBg2.gif) 0 0 no-repeat;
        width: 204px;
        height: 41px;
    }

    a {
        color: $footer-color;
        &:hover, &:active { color: #BBDB83; }
    }
}

.copyright {
    font-size: em(11);

    @include absolute(right 0 top 48px);

    [lang="en"] & { top: 80px; }

    @include mq-max(break(phone,-1)) {
        top: auto !important;
        bottom: 0;
    }

    a {
        @extend .m-b-4;
        @include text-pic('logoA_s.gif', 112px, 49px);
        display: block;
    }
}

// 貿易logo
.logo-s {
    font-size: em(34);
    font-weight: 800;
    line-height: 1.01;
    color: #BBDB83;

    small {
        @include text-pic('logo_s.gif', 181px, 29px);
        display: inline-block;
        vertical-align: top;
        @extend .m-t-4;
    }
}

.foot-contact {
    @extend %float-l, .text-left;

    width: 34%;
    padding-right: $gutter;

    @include mq-max(break(desktop,-1)) {
        width: 38%;
    }
    @include mq-max(tablet) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    address, em { font-style: normal; }
    address {
        font-size: em(13);
    }
    h6 {
        @extend .m-y-8;
        color: $footer-color;
        letter-spacing: 1px;
        line-height: 1.45;

        @include mq-max(tablet) {
            margin-bottom: 8px !important;
        }
    }
    p + p { @extend .m-t-4; }
    em {
        display: inline-block;
        width: 60px;
        letter-spacing: 1px;
    }
}

.foot-nav {
    @extend %float-l, .text-left;

    header {
        @extend .font-xxl, .m-b-16;
        color: #BBDB83;
        letter-spacing: 4px;
        line-height: 1;

        @include mq-max(tablet) {
            margin-bottom: 8px !important;
        }
    }
    a {
        display: block;
        letter-spacing: 2px;

        &:not(:last-child) {
            @extend .m-b-8;
        }

        @include mq(break(mobile,-1),tablet) {
            display: inline-block;
            width: 30%;
        }

        [lang="en"] & {
            font-size: em(14);

            @include mq-max(break(phone,-1)) {
                width: 100%;
            }
        }
    }
}
