@charset "UTF-8";

$figure-inline-hack:      false !default;
$figure-effect:           false !default;

// common style
%figure-overlay {
    @include size(100%);
    @include absolute(left 0 top 0);
}

figcaption {
    @include prefix(backface-visibility, hidden);
    &::before, &::after { pointer-events: none; }
}

figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    @if $figure-inline-hack {
        margin-right: -4px;
        &:first-child { margin-left: -4px; }
    }

    @if $figure-effect { @include transition($figure-effect) }

    > a {
        @extend %figure-overlay;
        z-index: z(figure);
        white-space: nowrap;
        opacity: 0;
    }

    // RWD
    @if $enable-RWD {
        @include mq-max(break(desktop, -1)) {
            float: none;
            display: inline-block;
        }
        @include mq-max(tablet) {
            width: 48%;
            max-width: none;
            margin: 3px; margin-bottom: 15px;
        }
        @include mq-max(phone) { width: 100%; }
    }
}

// 滿版圖片列表
.fullPic-list {
    @extend %inline-block;
    vertical-align: top;
    width: 31%;

    &:not(:nth-child(3n)) {
        margin-right: 1%;
    }

    figcaption {
        @extend %figure-overlay;
        // background: #717562;
    }
    img {
        min-width: 100%;
        min-height: 100%;
        @include transition(transform .5s, filter 1s);
    }

    &:hover, &:active {
    }
}