@charset "UTF-8";

$figure-inline-hack:      false !default;
$figure-effect:           false !default;

// common style
%figure-overlay {
    @include size(100%);
    @include absolute(left 0 top 0);
}

figcaption {
    @include prefix(backface-visibility, hidden);
    &::before, &::after { pointer-events: none; }
}

figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    @if $figure-inline-hack {
        margin-right: -4px;
        &:first-child { margin-left: -4px; }
    }

    @if $figure-effect { @include transition($figure-effect) }

    > a {
        @extend %figure-overlay;
        z-index: z(figure);
        white-space: nowrap;
        opacity: 0;
    }

    // RWD
    @if $enable-RWD {
        @include mq-max(break(desktop, -1)) {
            float: none;
            display: inline-block;
        }
        @include mq-max(tablet) {
            width: 48%;
            max-width: none;
            margin: 3px; margin-bottom: 15px;
        }
        @include mq-max(phone) { width: 100%; }
    }
}

// 滿版圖片列表
.fullPic-list {
    @extend %inline-block, .text-white, .m-x-0, .m-b-48;
    vertical-align: top;
    width: 32%;

    &:not(:nth-of-type(3n)) { margin-right: 1.3%;}

    @include mq(desktop,break(wider,-1)) { height: 260px; }

    figcaption {
        @extend %figure-overlay;
        background: url(#{$img-path}/fullPic_list_bg.png) 0 bottom repeat-x;
        @include transition(background 0.35s);
    }
    img {
        min-width: 100%;
        min-height: 100%;
        @include transition(opacity 0.35s, transform 0.35s);
        @include transform(scale(1.15));
    }

    h3 {
        @extend .text-white;
        @include transition(transform 0.35s);
        @include transform(translate3d(0,0,0));
        @include absolute (bottom 0 left 0 right 0);
        font-size: em(22);
        letter-spacing: 2px;
    }

    p {
        @extend .p-b-16, .m-t-48, .m-x-32, .text-left;
        border-bottom: 1px solid #C8C8BD;
        opacity: 0;
        font-size: em(15);
        @include transition(opacity 0.35s, transform 0.35s);
        @include transform(translate3d(0,-20px,0) scale(1.1));
    }

    &:hover {
        img { @include transform(scale(1)); }
        h3 { @include transform(translate3d(0,-20px,0)); }
        p {
            opacity: 1;
            @include transform(translate3d(0,0,0) scale(1));
        }
        figcaption { background-color: rgba(#929E5F,.92); }
    }
}