@charset "UTF-8";

// setting
// ------------------------------------------------------------
// navbar style
$navbar-height:         false !default;
$navbar-bg:             false !default; // #2AA19D

// nav style
$sub-nav-has:           false !default;    // 子選單
$nav-root:              if($sub-nav-has, '.root', 'a') !default;
$nav-height:            false !default;   // 'full' | 18px | flase
$nav-font-size:         18px !default;
$nav-color:             #000 !default;

// 行動版
$mobile-menu-bk:        'desktop' !default;     // 從()螢幕寬度以下開始出現行動版選單
$mobile-menu-style:     'overlay' !default;
$mobile-menu-bg:        rgba(#fff,.95) !default;
$mobile-menu-width:     100% !default;
$mobile-close:          'mobile-close' !default;
$mobile-transition:     'transform .3s, opacity 1s' !default; // push - left .35s; overlay - opacity 1s

// 當前頁選單
@function page($current-item, $map: $menu-item) {
    $current: ();

    @each $item in $map {
        $i: index($map, $item);
        $current: $current, unquote(".#{$item} #{$current-item}(#{$i})");
    }
    @return $current;
}
$current: page('&:nth-of-type');


// output
// ------------------------------------------------------------
// == 主選單
.navbar {
    @if $navbar-height { height: $navbar-height }
    @if $navbar-bg     { background: $navbar-bg }
}

#menu, .top-nav {
    @include absolute(left 48%);
    @include mq(wider) { left: 635px; }
}

#menu {
    z-index: z(menu);

    // 本次專案
    @extend .text-left;

    top: 73px;

    @include mq-max(wide) {
        left: auto;
        right: 0;
    }

    #{$nav-root} {
        @if $nav-color     { color: $nav-color; }
        @if $nav-font-size { font-size: em($nav-font-size); }
        @if $nav-height {
            height: if($nav-height == 'full', 100%, $nav-height);
            @if $nav-height == 'full' {
                @include text-middle($navbar-height);
            }
        }

        // 本次專案
        position: relative;
        letter-spacing: 3px;

        &:not(:last-child) { margin-right: 47px; }

        @include el(before, $content: unicode('e90c')) {
            @include pos-center(x);
            @include transition(top .35s, opacity .6s);
            font-family: 'icomoon';
            font-size: em(13);
            top: -10px;
            opacity: 0;
        }

        &:hover, &:active, &.current {
            color: #B9C85D;

            &::before {
                opacity: 1;
                top: 117%;
            }
        }

        [lang="en"] & {
            font-size: em(16);

            @include mq(desktop,wider) {
                &:not(:last-child) { margin-right: 31px; }
            }
        }
    }
}

// == top-nav
.top-nav {
    top: 28px;

    @include mq-max(wide) {
        left: auto;
        right: 0;
    }
    @include mq-max(break(#{$mobile-menu-bk},-1)) {
        top: 5px;
        right: $gutter;
    }

    a {
        color: #828282;
        font-size: em(12);
        letter-spacing: 2px;

        &:not(:last-child) {
            @extend .m-r-12;

            @include mq-max(mobile) {
                margin-right: 3px !important;
            }
        }

        &:hover, &:active {
            color: $brand-primary;
        }
    }
}

// == mobile-nav
@if $enable-RWD {
    // 行動版面的選單
    @include mobile-nav('menu',break(#{$mobile-menu-bk},-1)) {
        top: 0; left: 0;

        #{$nav-root} {
            font-size: em(26);
            line-height: 48px;
            display: block;
            width: 100%;
            border: 1px solid lighten(#D0BEA6,10);
            border-radius: 3px;

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: $gutter;
            }

            &::before { display: none; }

            &:hover, &:active {
                background: lighten(#B9C85D,25);
                color: $nav-color;
            }
            &.current {
                background: #B9C85D;
                color: #fff;
            }
        }

        nav {
            @include pos-center;
            text-align: center;
            width: 60%;
        }
    }

    %mobile-btn {
        background: none;
        border: none;
        outline: none;
        padding: 0;
        @include transition(all .3s);
    }

    // 顯示行動版面的按鈕
    .mobile-trigger {
        display: none;
        overflow: hidden;

        @include mq-max(break(#{$mobile-menu-bk},-1)) {
            display: block;
        }

        // 本次專案
        @extend %mobile-btn, .text-primary;
        @include absolute(right 10px top 35px);

        font-size: em(50);
        line-height: 1.01;

        &:hover, &:active {
            color: lighten($brand-secondary,10);
        }

        .#{$mobile-menu-style} & {
            opacity: 0;
        }

        @include mq-max(phone) {
            top: 25px;
            font-size: em(43);
        }
    }

    // 關閉行動版面的按鈕
    @if $mobile-close {
        .#{$mobile-close} {
            display: none;

            .#{$mobile-menu-style} & {
                @extend %mobile-btn, .text-primary;

                @include absolute(right 2.5% top 1%);

                display: block;
                font-size: em(40);

                &:hover, &:active {
                    color: lighten($brand-primary,10);
                }
            }
        }
    }
}

// == sub-nav
@if $sub-nav-has {
    #menu {
        li {
            // 子選單顯示
            &:hover, &:active {
                .sub-nav {
                    opacity: 1;
                    visibility: visible;
                    min-height: 150px;
                }
            }
        }
        // 有下拉選單的加箭頭
        .caret {
            position: relative;

            @include el(before) {
                @include arrow(up, 10px, 7px, #fff);
                @include pos-center(x);
                @include transition(opacity .5s, bottom .3s);
                opacity: 0;
                bottom: -8px;
            }
        }
    }
    .sub-nav {
        @extend .text-left;
        display: block;
        opacity: 0;
        visibility: hidden;

        @if $enable-RWD {
            @include mq-max(break(#{$mobile-menu-bk},-1)) {
                display: none;
                opacity: 1;
                visibility: visible;
                transform: none;
                position: static;
                top: 100%;
                max-width: 100%;

                background: darken($mobile-menu-bg,10);
                box-shadow: inset 3px 6px 15px rgba(#000,.5);
            }
        }
    }
}