
@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.breadCrumb = "聯絡我們";
}
<script src="../../Scripts/mill-e-fix.js"></script>

<h1 class="title"><span>@ViewBag.breadCrumb</span></h1>

<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.6621948124116!2d121.19189034908814!3d24.953858992452968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDU3JzEzLjkiTiAxMjHCsDExJzM2LjIiRQ!5e0!3m2!1szh-TW!2stw!4v1495174517873" frameborder="0" style="border:0" allowfullscreen></iframe></div>

<section class="row row-x-0">
    <form action="" onSubmit="sendMail(this);" class="contact-form col-sm-6">
        <label for="name" class="form-element-label">姓名</label>
        <input id="name" type="text" class="form-element" name="姓名">

        <label for="tel" class="form-element-label">電話</label>
        <input id="tel" type="text" class="form-element" name="電話">

        <label for="email" class="form-element-label">E-mail</label>
        <input id="email" type="text" class="form-element" name="E-mail">

        <label class="form-element-label">內容</label>
        <textarea rows="5" class="form-element" name="內容"></textarea>

        <button class="btn m-t-24">確認送出</button>

        <input type="hidden" name="accept" value="chaomintrading@gmail.com">
        <input type="hidden" name="subject" value="朝敏國際貿易中文網站 線上諮詢">
    </form>

    <ul class="contact-list col-sm-6">
        <li><span>ADD:</span>桃園市平鎮區民族路三段159巷155號</li>
        <li><span>TEL:</span>03-495-0555</li>
        <li><span>FAX:</span>03-495-1222</li>
        <li><span>E-mail:</span><a href="mailto:chaomintrading@gmail.com">chaomintrading@gmail.com</a></li>
    </ul>
</section>
