@{
    ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="朝敏菓菜以安全蔬菜為目標，蔬果配送批發讓客戶買的安心吃的安心。堅持品質及服務熱忱，獲得許多客戶的支持及良好口碑，朝敏菓菜一直是企業眼中供應便宜、新鮮蔬果的好夥伴，蔬果配送範圍廣，蔬果配送皆以冷藏的車廂配送，以免造成蔬菜及食物的腐敗污染。">
    <meta name="keywords" content="蔬果配送.蔬果批發.桃園蔬果配送.中壢蔬果配送.桃園蔬果批發.中壢蔬果批發">
    <title>朝敏菓菜 | 朝敏國際貿易 :: 蔬果配送.蔬果批發.質優.新鮮.專業可靠.嚴格控管,Fresh Fruits & Vegetables</title>
    <link rel="stylesheet" href="~/Content/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <section id="wrapper">
        <header id="header">
            <h1>朝敏菓菜</h1>
            <h2>蔬果第一領導品牌</h2>
            <p class="font-sp">CHAOMIN INTERNATIONAL VEGETABLES FRUITS FIRM</p>
            <small>專業．用心．保鮮蔬菓物流進出口</small>
        </header>

        <nav id="menu">
            <a class="site1" href="http://www.chaomin.com.tw/OutWeb/L_CT/index/index.asp">
                物流配送部
                <small class="font-sp">Fresh Fruits & Vegetables</small>
            </a>
            <a class="site2" href="~/Products/Import_list/SetLanguage?L=zh-TW&A=index">
                國際貿易部
                <small class="font-sp">International Trading</small>
            </a>
        </nav>

        <div class="copyright font-sp">&copy; 2013 - @DateTime.Now.Year CHAOMIN</div>
    </section>

    <footer></footer>

</body>
</html>