@{
    ViewBag.Title = "WELCOME";
    ViewBag.IsFirstPage = true;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chaomin Vegetables Fruits to safe vegetables as the goal, the distribution of fruits and vegetables to allow customers to buy wholesale peace of mind to buy peace of mind. The quality and service enthusiasm, access to many customer support and good reputation, North Korea has always been the eyes of the fruit and vegetable supply of cheap, fresh fruits and vegetables a good partner, a wide range of fruits and vegetables distribution, distribution of fruits and vegetables are refrigerated compartment, so as to avoid vegetables and Food Corruption Pollution.">
    <meta name="keywords" content="Fruit and vegetable distribution. Fruit and vegetable wholesale. Taoyuan fruit and vegetable distribution. Chungli fruits and vegetables. Taoyuan wholesale fruits and vegetables.">
    <title>Chaomin Vegetables Fruits | CHAOMIN International Trading::Fruit and vegetable distribution. Fruit and vegetable wholesale.Professional. Thoughtful. Direct from the Farm. Fresh Fruits & Vegetables</title>
    <link rel="stylesheet" href="~/Content/css/index.css">
</head>
<body onload="PlayV()">
    <video autoplay loop muted playsinline webkit-playsinline="true" id="video" class="video-full" preload="auto" poster="~/content/images/index/bg.jpg">
        <source src="~/Content/images/index/bg.webm" type="video/webm">
        <source src="~/Content/images/index/bg.mp4" type="video/mp4">
    </video>

    <main>
        <figure class="site1">
            @* <a href="http://www.chaomin.com.tw/OutWeb/L_CT/index/index.asp"></a> *@
            <a href="http://demo.jcin.com.tw/chaomin/OutWeb/L_CT/index/index.asp"></a>
            <figcaption>
                <h1>朝敏果菜 - 優質．新鮮專業可靠．嚴格控管</h1>
                <footer>
                    <h5>每日農藥安全檢驗<small>雙北．桃園．新竹．頭份．台中．彰化．南投</small></h5>
                    <h2>全程7℃保鮮配送物流</h2>
                </footer>
            </figcaption>
        </figure>

        <figure class="site2">
            <a href="~/Products"></a>
            <figcaption>
                <h1>CHAOMIN International Trading. Professional. Thoughtful. Direct from the Farm.</h1>
                <h2>ISO 9001 國際品質驗證</h2>
            </figcaption>
        </figure>
    </main>

    <footer class="copyright">&copy; 2013 - @DateTime.Now.Year Chaomin</footer>

    <script>
        function PlayV() {
            var video = document.getElementById('video');
            video.autoplay = true;
            video.loop = true;
            video.load();
            video.play();
        }

        video.addEventListener('touchend', videoPlay);
        video.addEventListener('click', videoPlay);
        video.addEventListener('canplay', videoPlayTimer);
        video.addEventListener('pause', videoPlayTimer);
        video.addEventListener('ended', videoPlayTimer);

        function videoPlay(e) {
            video.play();
        }
        function videoPlayTimer(e) {
            var timeout;
            timeout = setTimeout(videoPlay, 50);
        }
    </script>
</body>
</html>