@{
    ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="朝敏菓菜以安全蔬菜為目標，蔬果配送批發讓客戶買的安心吃的安心。堅持品質及服務熱忱，獲得許多客戶的支持及良好口碑，朝敏菓菜一直是企業眼中供應便宜、新鮮蔬果的好夥伴，蔬果配送範圍廣，蔬果配送皆以冷藏的車廂配送，以免造成蔬菜及食物的腐敗污染。">
    <meta name="keywords" content="蔬果配送.蔬果批發.桃園蔬果配送.中壢蔬果配送.桃園蔬果批發.中壢蔬果批發">
    <title>朝敏菓菜 | 朝敏國際貿易 :: 蔬果配送.蔬果批發.質優.新鮮.專業可靠.嚴格控管,Fresh Fruits & Vegetables</title>
    <link rel="stylesheet" href="~/Content/css/index.css">
</head>
<body onload="PlayV()">
    <video autoplay loop muted playsinline webkit-playsinline="true" id="video" class="video-full" preload="auto" poster="~/content/images/index/bg.jpg">
        <source src="~/Content/images/index/bg.webm" type="video/webm">
        <source src="~/Content/images/index/bg.mp4" type="video/mp4">
    </video>

    <main>
        <figure class="site1">
            @* <a href="http://www.chaomin.com.tw/OutWeb/L_CT/index/index.asp"></a> *@
            <a href="http://demo.jcin.com.tw/chaomin/OutWeb/L_CT/index/index.asp"></a>
            <figcaption>
                <h1>朝敏果菜 - 優質．新鮮專業可靠．嚴格控管</h1>
                <footer>
                    <h5>每日農藥安全檢驗<small>雙北．桃園．新竹．頭份．台中．彰化．南投</small></h5>
                    <h2>全程7℃保鮮配送物流</h2>
                </footer>
            </figcaption>
        </figure>

        <figure class="site2">
            <figcaption>
                <h1>朝敏國際貿易 - 專業．用心．專營蔬菓進出品</h1>
                <h2>ISO 9001 國際品質驗證</h2>
                <nav>
                    <a href="~/Products/SetLanguage?L=zh-TW&A=index" class="btn">中文</a>
                    <a href="~/Products/SetLanguage?L=en-US&A=index" class="btn">English</a>
                </nav>
            </figcaption>
        </figure>
    </main>

    <footer class="copyright">&copy; 2013 - @DateTime.Now.Year Chaomin</footer>

    <script>
        function PlayV() {
            var video = document.getElementById('video');
            video.autoplay = true;
            video.loop = true;
            video.load();
            video.play();
        }

        video.addEventListener('touchend', videoPlay);
        video.addEventListener('click', videoPlay);
        video.addEventListener('canplay', videoPlayTimer);
        video.addEventListener('pause', videoPlayTimer);
        video.addEventListener('ended', videoPlayTimer);

        function videoPlay(e) {
            video.play();
        }
        function videoPlayTimer(e) {
            var timeout;
            timeout = setTimeout(videoPlay, 50);
        }
    </script>
</body>
</html>