@{
    ViewBag.Title = "WELCOME";
    ViewBag.IsFirstPage = true;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chaomin Vegetables Fruits to safe vegetables as the goal, the distribution of fruits and vegetables to allow customers to buy wholesale peace of mind to buy peace of mind. The quality and service enthusiasm, access to many customer support and good reputation, North Korea has always been the eyes of the fruit and vegetable supply of cheap, fresh fruits and vegetables a good partner, a wide range of fruits and vegetables distribution, distribution of fruits and vegetables are refrigerated compartment, so as to avoid vegetables and Food Corruption Pollution.">
    <meta name="keywords" content="Fruit and vegetable distribution. Fruit and vegetable wholesale. Taoyuan fruit and vegetable distribution. Chungli fruits and vegetables. Taoyuan wholesale fruits and vegetables.">
    <title>Chaomin Vegetables Fruits | CHAOMIN International Trading::Fruit and vegetable distribution. Fruit and vegetable wholesale.Professional. Thoughtful. Direct from the Farm. Fresh Fruits & Vegetables</title>
    <link rel="stylesheet" href="~/Content/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <section id="wrapper">
        <header id="header">
            <h1>朝敏菓菜</h1>
            <h2>蔬果第一領導品牌</h2>
            <p class="font-sp">CHAOMIN INTERNATIONAL VEGETABLES FRUITS FIRM</p>
            <small>專業．用心．保鮮蔬菓物流進出口</small>
        </header>

        <nav id="menu">
            <a class="site1" href="http://www.chaomin.com.tw/OutWeb/L_CT/index/index.asp">
                物流配送部
                <small class="font-sp">Fresh Fruits & Vegetables</small>
            </a>
            <a class="site2" href="~/Products/SetLanguage?L=en-US&A=index">
                國際貿易部
                <small class="font-sp">International Trading</small>
            </a>
        </nav>

        <div class="copyright font-sp">&copy; 2013 - @DateTime.Now.Year CHAOMIN</div>
    </section>

    <footer></footer>
</body>
</html>