@{
    ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>朝敏菓菜 | 朝敏國際貿易</title>
    <link rel="stylesheet" href="~/Content/css/index.css">
</head>
<body>
    <div class="video-full">
        <video preload="auto" autoplay loop>
            <source src="images/intro.mp4" type="video/mp4">
        </video>
    </div>

    <main>
        <figure class="site1">
            <a href="//www.chaomin.com.tw"></a>
            <figcaption>
                <h1>朝敏果菜 - 優質．新鮮專業可靠．嚴格控管</h1>
                <footer>
                    <h5>每日農藥安全檢驗<small>雙北．桃園．新竹．頭份．台中．彰化．南投</small></h5>
                    <h2>全程7℃保鮮配送物流</h2>
                </footer>
            </figcaption>
        </figure>

        <figure class="site2">
            <a href="~/Products"></a>
            <figcaption>
                <h1>朝敏國際貿易 - 專業．用心．專營蔬菓進出品</h1>
                <h2>ISO 9001 國際品質驗證</h2>
            </figcaption>
        </figure>
    </main>

    <footer class="copyright">&copy; 2013 - @DateTime.Now.Year Chaomin</footer>
</body>
</html>