@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$index:                  true;
$img-index:              '../images/index';

$font-size-h3:           30px;
$headings-color:         #4D4D4D;



// import
// ------------------------------------------------------------
// 本次專案專用變數
@import "_client/color";
@import "_client/settings";

// 共用
@import "helper/function";
@import "helper/variables";
@import "helper/mixins";

// 由此 output css
@import "vendor/normalize"; // 重置復位
@import "vendor/print";     // 列印樣式

@import "base/basic";
@import "base/form";
@import "base/util";

// 本頁專用
@import "_client/layout";
@import "_client/unit/nav";
@import "_client/unit/goTop";
@import "_client/unit/banner";
@import "_client/unit/list";
@import "_client/unit/btn";
@import "_client/unit/input-group";
@import "_client/unit/modal";
@import "_client/unit/figure";
@import "_client/unit/classes";


// main
// ------------------------------------------------------------

section {
    &:not(:last-child) { padding-bottom: 60px; }
}

iframe {
    width: 100%;
    height: 600px;
}
