@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$enable-RWD:             true;
$states:                 false;
$index:                  true;
$img-path:               '../images/index';

$body-bg:                #ad9647 url(#{$img-path}/footerBg2.gif) 24% bottom no-repeat; // 769F35
$body-color:             #bfbcab;
$font-family-sp:         'Lato', sans-serif;

$gutters:                null;



// import
// ------------------------------------------------------------
// 本次專案專用變數
@import "_client/color";

// 共用
@import "helper/function";
@import "helper/variables";
@import "helper/mixins";

// 由此 output css
@import "vendor/normalize"; // 重置復位

@import "base/basic";
@import "base/util";

// 本頁專用
@import "_client/unit/classes";


// main
// ------------------------------------------------------------
#wrapper {
    background: url(#{$img-path}/bg.gif) 0 0 repeat;
    padding-top: 100px;
    position: relative;
    min-height: 100%;

    @include el(all) {
        @include absolute(left 50%);
        background-position: 0 0;
        background-repeat: no-repeat;
    }
    &::before {
        background-image: url(#{$img-path}/leaf.gif);
        width: 211px; height: 266px;
        margin-left: 180px;
        top: 278px;

        opacity: 0;
        opacity: 1\9;

        @include diy-animate(slide-right, 1s linear 1s forwards) {
            100% {
                opacity: 1;
                margin-left: 192px;
            }
        }
    }
    &::after {
        background-image: url(#{$img-path}/tomato.gif);
        width: 39px; height: 47px;
        margin-left: 350px;
        top: 425px;
        z-index: 0;

        opacity: 0;
        @include transform(scale(0));
        @include prefix(transform-origin, 20px 0, ms);

        @include diy-animate(fade-in, .7s linear 2s forwards) {
            100% {
                opacity: 1;
                @include transform(scale(1));
            }
        }

        opacity: 1\9;
        -ms-transform: scale(1)\9;
    }

    @include mq(desktop, $and: '(max-height: 50em)') {
        padding-top: 70px;
    }
    @include mq-max(break(desktop,-1)) {
        min-height: 46.75em;
        // padding-bottom: 150px;

        &::before, &::after { left: auto; }
        &::before { right: 0; }
        &::after { right: 10px; }
    }
    @include mq-max(phone) {
        min-height: 100%;
        padding-top: 13vh;

        &::before, &::after { top: auto; }
        &::before { bottom: 0; }
        &::after { bottom: 72px; }
    }
    @include mq-max(mobile) {
        padding-top: 30px;
        &::before, &::after { display: none; }
    }
}

// == header
#header {
    @extend .m-x-a;
    position: relative;
    padding-top: 69px;
    max-width: 800px;

    // 領導品牌的2條線
    @include el(all) {
        @include absolute(top 56px);
        width: (800px - 180)/2;
        border-top: 1px solid #bbdb83;

        @include mq-max(break(desktop,-1)) {
            width: 36%;
        }
        @include mq-max(phone) {
            width: 30%;
        }
        @include mq-max(mobile) {
            top: 48px;
            width: 24%;
        }
    }
    &::after { right: 0; }

    @include mq-max(break(desktop,-1)) {
        width: 85%;
    }
    @include mq-max(mobile) {
        padding-top: 52px;
    }

    p, small { letter-spacing: 3px; }
    p {
        color: #96bd0f;
        margin-top: 0;

        @include mq-max(mobile) {
            letter-spacing: 1;
            font-size: em(14);
        }
    }
    small {
        display: block;
        font-size: em(14);
    }
}
h1 {
    border-bottom: 1px solid #bbdb83;
    margin-bottom: 8px;

    @include text-pic('logo.gif', $height:91px, $seat: center 0);

    @include mq-max(mobile) {
        background-size: contain;
        height: 66px;
    }
}
h2 {
    top: 0;

    @include text-pic('logo2.gif', 175px, 65px, center 0);
    @include pos-center(x);

    @include mq-max(mobile) {
        background-size: contain;
        height: 55px;
    }
}

#menu {
    @extend .m-x-a;
    background: #fff url(#{$img-path}/siteBg.gif) center 64px no-repeat;
    border: 1px solid #ede2dc;
    border-top: none;
    width: 71.5%;
    max-width: 572px;
    margin-top: 45px;
    margin-bottom: 23px;
    position: relative;
    z-index: 2;

    @include mq-max(phone) {
        width: 85%;
    }
    @include mq-max(mobile) {
        margin-top: 28px;
        background-position: center 38px;
    }

    a {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin: 0 -2px;
        padding: 65px 8px 55px 8px;
        background-position: 0 0;
        background-repeat: repeat-x;
        color: #2d3d14;
        font-size: em(26);
        line-height: 1.25;
        letter-spacing: 1px;

        &:hover {
            color: #fff;

            small { color: darken(#fcfbf7,5); }
        }

        @include mq-max(mobile) {
            font-size: em(19);
            padding-top: 42px;
            padding-bottom: 20px;
        }
    }
    .site1 {
        background-image: url(#{$img-path}/site1_bg.png);
        &:hover { background-color: #F0B726; }
    }
    .site2 {
        background-image: url(#{$img-path}/site2_bg.png);
        &:hover { background-color: #B9C85D; }
    }

    small {
        display: block;
        color: darken(#d0bea6,6);
        font-size: em(15,26);
        line-height: 1.15;
        margin-top: 5px;

        @include mq-max(phone) {
            font-size: rem(12);
        }
    }
}

.copyright {
    font-size: em(11);
    letter-spacing: 1px;
}

footer {
    background: url(#{$img-path}/footer_salad.gif) center 26px no-repeat,
                url(#{$img-path}/footerBg.gif) center 0 repeat-x,
                #ad9647 url(#{$img-path}/footerBg2.gif) 24% bottom no-repeat;
    position: relative;
    // min-height: 30px;

    @include el(after) {
        background: url(#{$img-path}/footer_green.gif) 0 0 no-repeat;
        width: 309px;
        height: 48px;
        margin-left: -440px;

        @include absolute(left 50% top -47px);

        opacity: 0;
        @include transform(scaleY(0));
        @include prefix(transform-origin, 0 bottom);

        @include diy-animate(growUp, 1s linear 2.5s forwards) {
            100% {
                opacity: 1;
                @include transform(scaleY(1));
            }
        }

        opacity: 1\9;
        -ms-transform: scaleY(1)\9;

        @include mq-max(break(desktop,-1)) {
            margin-left: 0;
            left: 15px;
        }
        @include mq-max(break(phone,-1)) {
            background-size: contain;
            width: 200px;
            height: 30px;
            top: -29px;
        }
    }

    @include mq(desktop, $and: '(min-height: 50.0625em)') {
        height: 218px;
        margin-top: -218px;
    }
    @include mq(desktop, 1366px, $and: '(max-height: 48em)') {
        height: 80px;
        margin-top: -80px;
    }
    @include mq(break(mobile, +1), break(desktop,-1)) {
        min-height: calc(100% - 46.75em);
    }
    @include mq-max(mobile) {
        height: 16px;
        margin-top: -16px;
    }
}

// 2017世大運合格供應商
.pic-2017su {
    @include text-pic('2017SU.gif', 101px, 102px);
    position: absolute;

    @include mq(phone) {
        left: 50%;
        top: 125px;
        margin-left: 148px;
    }
    @include mq-max(break(phone,-1)) {
        top: 2%;
        right: 2%;
    }
    @include mq-max(mobile) {
        background-size: contain;
        width: 76px;
        height: 76px;
    }

    @include diy-animate(slide, 5s linear 2s infinite) {
        80% {
            @include transform(rotateY(0));
        }
        100% {
            @include transform(rotateY(360deg));
        }
    }
}