@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$page:                 true;
// $enable-ckb-rdo:       true;

$figure-img-full:      true;
// $collapse-title-icon-color: #fff;
// $collapse-title-hover-icon-color: false;

// import
// ------------------------------------------------------------
// 本次專案專用變數
@import "_client/color";
@import "_client/settings";

// 共用
@import "helper/function";
@import "helper/variables";
@import "helper/mixins";

// 由此 output css
@import "vendor/normalize"; // 重置復位
@import "vendor/print";     // 列印樣式

@import "base/basic";
// @import "base/form";
// @import "base/table";
@import "base/util";

// 本頁專用
@import "_client/layout";
@import "_client/unit/nav";
@import "_client/unit/breadcrumb";
@import "_client/unit/goTop";
@import "_client/unit/btn";
@import "_client/unit/list";
// @import "_client/unit/label";
// @import "_client/unit/input-group";
// @import "_client/unit/modal";
// @import "_client/unit/collapse";
@import "_client/unit/figure";
// @import "_client/unit/hover";

@import "_client/unit/classes"; // 建議放置在最後一個


// main
// ------------------------------------------------------------
#main {
    @extend %center;
}

// == 產品
// 產品內容
.product-info {
    @extend .text-left, .p-r-32;

    article { @extend .font-md, .m-y-24; }
    ul { @extend .text-secondary, .font-md; }
    li { @extend .m-y-4; }
    em {
        @extend .m-r-8;
        font-style: normal;
    }
}
.product-pic {
    img { width: 100%; }
}