
@{
    ViewBag.Title = "關於我們";
    ViewBag.BodyClass = "AboutUs";
    ViewBag.breadCrumb = "關於我們";
}

<h1 class="title"><span>專營蔬菓進出口</span></h1>

<article class="text-left">
    <img src="~/Content/images/AboutUs/pic.jpg" alt="關於我們插圖" class="float-r m-l-12">

    <h3>公司簡介</h3>
    <p>Comming soon</p>

    @* <h3>Company Vision</h3>
    <ul class="list-unstyled p-l-0">
        <li>- Increase our Global Network.</li>
        <li>- Remain in the forefront of agricultural research and innovation in Taiwan.</li>
        <li>- Creating Employment Opportunity</li>
        <li>- Continue contributing to Taiwanese society.</li>
    </ul> *@
</article>