
@{
    ViewBag.Title = "ABOUT US";
    ViewBag.BodyClass = "AboutUs";
    ViewBag.breadCrumb = "ABOUT US";
}

<h1 class="title"><span>Direct from the Farm</span></h1>

<article class="text-left">
    <img src="~/Content/images/AboutUs/pic.jpg" alt="About Us" class="float-r m-l-24">

    <h3>Company Overview</h3>
    <p>Chaomin Vegetables Fruits Firm was built since 2002. We would like to take this opportunity to introduce our company and products, with the hope that we may work with bright ideas and imports in the future.</p>
    <p>Our company, Chaomin Vegetables Fruits Firm, is one of the Professional vegetable trading and deliver company in Taiwan. We specialize in this field for several years, with good quality and pretty competitive price. Chaomin has an excellent supply chain and perfectly working systems and processes that ensure the produce is delivered in fresh condition and fine packaging to its customers at a highly competitive price.</p>
    <p>Furthermore, we are open for cooperation with qualified suppliers and farmers based on established quality criteria, terms and conditions. We export fancy fresh fruits and vegetables from Taiwan or other countries to our customers around the world, such as America, Canada and Asia etc. In order to provide better service, we can also supply related produce from USA, Southern East Asia, Korea, China, or Thailand as requested. </p>
    <p>Customer's satisfaction is always our primacy. To bring people a healthy and good life, our team assures our customers of excellent quality, natural and clean produce, satisfying service and supply in a timely and efficient manner. We believe the best quality and the most competitive price can benefit both parties. Honest, credit and dependability are always our faith in business.</p>

    <h3>Company Vision</h3>
    <ul class="list-unstyled p-l-0">
        <li>- Increase our Global Network.</li>
        <li>- Remain in the forefront of agricultural research and innovation in Taiwan.</li>
        <li>- Creating Employment Opportunity</li>
        <li>- Continue contributing to Taiwanese society.</li>
    </ul>
</article>